@font-face {
    font-family: outro;
    src: url(balance_2/Balance.otf);
}

@font-face {
    font-family: textos;
    src: url(Libre_Baskerville/LibreBaskerville-Bold.ttf);
}

hr {
    border: 0;
    border-top: 3px solid #094CFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #7fffd4;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: textos;

}

nav .logo a {
    text-decoration: none;
    color: #000;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 30px;
}

nav li {
    margin-left: 7px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover {
    background-color: white;
    color: black;
}

.logo2 {
    width: 100px;
}

.titulo {
    font-family: outro;
    text-align: center;
    margin-top: 20px;
}

#fortaleza {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 150px;
    position: relative;
    display: flex;
}

#fortaleza:hover {
    border: #094CFA solid 2px;
}

#texto-faixa {
    font-family: textos;
    position: absolute;
    margin-left: 200px;
    font-size: 20px;
    bottom: 40px;
    text-decoration: none;
    color: #000;
    border: #000 solid 2px;
}

.faixa {
    display: flex;
}

#rio {
    margin-top: 50px;
    margin-left: 15px;
    width: 400px;
    height: 200px;
}

#rio:hover {
    border: #094CFA solid 2px;
}

#texto-rio {
    font-family: textos;
    position: absolute;
    font-size: 20px;
    bottom: 230px;
    margin-left: 130px;
    color: black;
    border: #000 solid 2px;
}

#texto-rio:hover {
    text-decoration: underline;
}

#texto-faixa:hover {
    text-decoration: underline;
}

#teste {
    margin-left: 10px;
    margin-top: 15px;
    width: 200px;
    height: 185px;
}

#teste:hover {
    border: #094CFA solid 2px;
}

.texto-noronha {
    font-family: textos;
    position: absolute;
    font-size: 15px;
    bottom: 40px;
    margin-left: 20px;
    color: black;
    border: #000 solid 2px;
}

.texto-noronha:hover {
    text-decoration: underline;
}

.ligacao {
    display: flex;
}

.teste-display {
    display: flex;
}

.maragogi {
    width: 200px;
    height: 185px;
    margin-top: 15px;
    margin-left: 10px;
}

.maragogi:hover {
    border: #094CFA solid 2px;
}

.texto-maragogi {
    font-family: textos;
    position: absolute;
    font-size: 15px;
    bottom: 40px;
    margin-left: 25px;
    color: black;
    border: #000 solid 2px;
}

.texto-maragogi:hover {
    text-decoration: underline;
}

.verao {
    font-family: outro;
    margin-left: 200px;
    margin-top: 15px;
    font-size: 30px;
    color: black;
}

.conteiner {
    border: #000 solid 5px;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 15px;
}

.campos {
    width: 200px;
    height: 185px;
}

.inverno {
    font-family: outro;
    margin-left: 200px;
    margin-top: 35px;
    font-size: 30px;
    color: black;

}

.texto-campos {
    font-family: textos;
    font-size: 15px;
    color: black;
    white-space: nowrap;
    margin-left: 25px;
    margin-top: 10px;
}

.div-campos {
    border: gray 3px groove;
    margin-top: 50px;
    padding: 50px 20px 50px 20px;
    margin-left: 200px;
}

.inverno-display {
    display: flex;
}

.curitiba {
    width: 200px;
    height: 185px;
}

.texto-curitiba {
    font-family: textos;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
    white-space: nowrap;
}

.diaria {
    color: gray;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
}

.valor {
    font-family: textos;
    font-weight: bolder;
    color: #094CFA;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
}

.div-curitiba {
    border: gray 3px groove;
    margin-top: 50px;
    padding: 50px 20px 50px 20px;
    margin-left: 15px;
}

.gramado {
    width: 200px;
    height: 185px;
}

.div-gramado {
    border: gray 3px groove;
    margin-top: 50px;
    padding: 50px 20px 50px 20px;
    margin-left: 15px;
}

.texto-gramado {
    font-family: textos;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
    white-space: nowrap;
}

.div-minas {
    border: gray 3px groove;
    margin-top: 50px;
    padding: 50px 20px 50px 20px;
    margin-left: 15px;
}

.minas {
    width: 200px;
    height: 185px;
}

.diaria- {
    color: gray;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 15px;
}

.linha-vertical {
    border: 0;
    border-top: 5px solid #094CFA;
    margin-top: 15px;

}

.footer {
    margin-top: 50px;
    background-color: #7fffd4;
    display: flex;
}

.footer-img {
    margin-left: 700px;
    margin-top: 30px;
    width: 100px;
}

.footer-icons {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-family: textos;
    margin-top: 40px;
    margin-left: 350px;
    color: #000;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 30px;
}

.blog-passeios-fortaleza {
    border: solid gray 2px;
    width: 453px;
    height: 450px;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 30px;

}

.jericoacoara {
    width: 450px;
    height: 250px;
    border-radius: 15px;

}

.passeios {
    font-family: outro;
    margin-left: 200px;
    margin-top: 15px;
    font-size: 30px;
    color: black;
}

.texto-Jericoacoara {
    font-family: textos;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(63, 61, 61);
    text-decoration: double;
    white-space: nowrap;
}

.icone-avaliação {
    width: 25px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.muito-bom {
    color: green;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
}

.icones {
    display: flex;
}

.pontos {
    color: #000;
    font-size: 20px;
    margin-top: 14px;
    margin-left: 6px;
}

.avaliação {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

.linha-horizontal {
    border: gray solid 1px;
}
.preco{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.valor-passeios{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 200px;
    color: #094CFA;
    text-decoration: underline;
}
.tudo{
    display: flex;
}
.blog-passeios-fortaleza-2 {
    border: solid gray 2px;
    width: 453px;
    height: 450px;
    border-radius: 15px;
    margin-left: 14px;
    margin-top: 30px;
}
.bom{
    color: yellow;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: #000;
}
.hoteis{
    font-family: outro;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 30px;
    color: black;
} 
#hoteis{
   display: flex;
}
#none{
    text-decoration: none;
}
